* text=auto eol=crlf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary
*.svg text eol=crlf
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary
*.pdf binary
*.zip binary
*.gz binary
